  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Fantamanager</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Batman meets... Aquaman?">
      <meta name="author" content="Thomas Park">

      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link href="/css/bootstrap.css" rel="stylesheet">
      <!-- <link href="/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
      <link href="/css/bootswatch.css" rel="stylesheet">



    </head>

    <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">


    <!-- Navbar
      ================================================== -->
   <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">                                           
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="/">Fantamanager</a>
         <div class="nav-collapse" id="main-menu">
          <ul class="nav" id="main-menu-left">
            <% if logged? %>
              <% if current_user.squadra %>
                <li><a href="/squadre/<%= current_user.squadra.id %>">La tua squadra</a></li> 
              <% else %>
                <li><a href="/squadre/new">Crea squadra</a></li>  
              <% end %>
              <li><form action="/logout" method="post">
                <input class="btn btn-primary btn-large" type="submit" value="Logout">
              </form></li>
            <% else %>
              <li><a href="/login">Login</a></li> 
              <li><a href="/users/new">Registrati</a></li> 
            <% end %> 

          </ul>
         </div>
       </div>
     </div>
   </div>
  <div class="container">
    <br><br><br>
    <%= yield %>
  </div><!-- /container -->



      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="/js/jquery.js"></script>
      <script src="/js/bootstrap.js"></script>


    </body>
  </html>



   