<h1>La tua squadra: <%= @squadra.nome %></h1>

Punteggio...

Ultime partite...

Giocatori...

<% for giocatore in @squadra.giocatori %>
  <p><%= giocatore["nome"] %> - <%= giocatore["stats"] %></p>
<% end %>

